.slider {
    position: relative;
    width: 1320px;
    height: 750px;
    margin: auto;
    }
    
.slide {
    position: absolute;
    opacity: 0;
    width: 100%;
    transition: opacity 1s;
    border-radius: 30px;
}
    
.slide:first-child {
    opacity: 1;
}